@model VolunteersProject.Models.Volunteer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Volunteer</h4>
    <h5>Total HappyPoints is:@ViewBag.TotalPoints</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JoinHubDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JoinHubDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstagramProfile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstagramProfile)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FaceBookProfile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FaceBookProfile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageProfile)
        </dt>
        <dd class="col-sm-10">
            <img src='@Url.Action("SetVolunteerImageProfile", "Volunteers", new { volunteerId = Model.Id })' class="rounded-circle" height="40" width="40" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionContributionToHub)
        </dt>
        <dd class="col-sm-10">
            <textarea asp-for="DescriptionContributionToHub" readonly="true" rows="5" cols="40"> @Html.DisplayFor(model => model.DescriptionContributionToHub)</textarea>
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <p asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">Numele Evenimentului</p>
            </th>
            <th>
                <p asp-action="Index" asp-route-sortOrder="@ViewData["CreditsSortParam"]">Credite</p>
            </th>
            <th>
                <p asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParam"]">Data Start</p>
            </th>
            <th>
                <p asp-action="Index" asp-route-sortOrder="@ViewData["FinishDateSortParam"]">Data Finish</p>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Enrollments)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.contribution.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contribution.Credits)
                </td>
                <td>
                    @if (item.contribution.StartDate != DateTime.MinValue)
                    {
                        @Html.DisplayFor(modelItem => item.contribution.StartDate)
                    }
                </td>
                <td>
                    @if (item.contribution.FinishDate != DateTime.MinValue)
                    {

                        @Html.DisplayFor(modelItem => item.contribution.FinishDate)
                    }
                </td>
            </tr>
        }
    </tbody>


</table>


@*@{
    Html.RenderPartial("../Home/LoggedUserEventsInfo.cshtml");
}*@

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
