@model IEnumerable<VolunteersProject.Models.Volunteer>

@{
    ViewData["Title"] = "Assign";
}

<h1>Assign </h1>
<form asp-action="Assign" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JoinHubDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JoinHubDate)
                    </td>
                    <td>
                       <input asp-for="IsSelected" type="checkbox" id=@Html.DisplayFor(modelItem => item.ID)>@Html.CheckBoxFor(modelItem => item.IsSelected)

                    </td>
                </tr>
             }
        </tbody>
    </table>
    <div class="form-group">
        <button type="submit" value="Send Email" class="btn btn-primary" />
    </div>
</form>
