@model IEnumerable<VolunteersProject.Models.Contribution>

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CreditsSortParam"]">@Html.DisplayNameFor(model => model.Credits)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParam"]">@Html.DisplayNameFor(model => model.StartDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FinishDateSortParam"]">@Html.DisplayNameFor(model => model.FinishDate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @if (item.StartDate != DateTime.MinValue)
                {
                    @Html.DisplayFor(modelItem => item.StartDate)
                }
            </td>
            <td>
                @if (item.FinishDate != DateTime.MinValue)
                {
                    @Html.DisplayFor(modelItem => item.FinishDate)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>|
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>|
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>|
                <a asp-action="Assign" asp-route-id="@item.ID">Assign Volunteers</a>
            </td>
        </tr>
  }
    </tbody>
</table>
